@font-face {
    font-family: aGodic16;
    src: url(../fonts/aGodic16.otf);
}

@font-face {
    font-family: Andellia Davilton;
    src: url("../fonts/Andellia Davilton.otf");
}

@font-face {
    font-family: SCDream5;
    src: url(../fonts/SCDream5.otf);
}

@font-face {
    font-family: SCDream6;
    src: url(../fonts/SCDream6.otf);
}

@font-face {
    font-family: NanumSquareEb;
    src: url(../fonts/NanumSquareEb.ttf);
}

* {
    padding : 0;
    margin  :0;
}

html , body {
    font-size: 14px;
    width : 100%;
    height : 100%;
}

.star {
    position: absolute;
    color:  rgba(150, 80, 200, 1);
    font-family: SCDream5;
}

.wrap {
    position: relative;
    height: 100%;
}

.wrap-1 {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color:  #b4b4b4;
}
.wrap-1 img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 250%;
}

.wrap-1 .wrap-1-title {
    font-family: SCDream6;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: .857rem;
    color:  rgba(150, 80, 200, 1);
}

.wrap-1 .wrap-1-intro {
    position: absolute;
    padding: 0 3rem;
    display: grid;
    left: 0;
    grid-template-columns: repeat(3, 1fr);
    right: 0;
    top: 15%;
}
.wrap-1 .wrap-1-intro .grid-column-wrap {
    align-self: center;
    text-align: center;
}

.wrap-1 .wrap-1-intro .grid-column-wrap .intro-title {
    font-family: NanumSquareEb;
    color: #ffffff;
}
.wrap-1 .wrap-1-intro .grid-column-wrap .intro-name {
    font-family: aGodic16;
    color: #ffffff;
    font-size: 1.5rem;
}

.wrap-1 .wrap-1-intro .grid-column-wrap .and {
    font-family: "Andellia Davilton";
    font-size: 5rem;
}


/* 테두리 별  */
.wrap-1 .wrap-1-star {position: absolute;top:0;bottom: 0;left: 0;right: 0;background-color: transparent;}
.wrap-1-star .top-left {position: absolute;width: 100px;height: 100px; z-index: 1;}
.wrap-1-star .top-left .star.top {right: 15%;top: 15%;font-size: 1.5rem;}
.wrap-1-star .top-left .star.middle {top: 40%;left: 50%;font-size: 2.7rem;transform: translate(-50%, -50%);}
.wrap-1-star .top-left .star.bottom {left: 24%;bottom: 20%;font-size: 1.5rem;}
.wrap-1-star .top-right {position: absolute;width: 100px;height: 100px; right: 0; z-index: 1;}
.wrap-1-star .top-right .star.top {left: 15%;top: 15%;font-size: 1.5rem;}
.wrap-1-star .top-right .star.middle {top: 40%;left: 50%;font-size: 2.7rem;transform: translate(-50%, -50%);}
.wrap-1-star .top-right .star.bottom {right: 24%;bottom: 20%;font-size: 1.5rem;}
.wrap-1-star .bottom-left {position: absolute;width: 100px;height: 100px; bottom: 0; left: 0; z-index: 1;}
.wrap-1-star .bottom-left .star.top {left: 25%;top: 20%;font-size: 1.5rem;}
.wrap-1-star .bottom-left .star.middle {top: 60%;left: 50%;font-size: 2.7rem;transform: translate(-50%, -50%);}
.wrap-1-star .bottom-left .star.bottom {right: 15%;bottom: 10%;font-size: 1.5rem;}
.wrap-1-star .bottom-right {position: absolute;width: 100px;height: 100px; bottom: 0; right: 0; z-index: 1;}
.wrap-1-star .bottom-right .star.top {right: 25%;top: 20%;font-size: 1.5rem;}
.wrap-1-star .bottom-right .star.middle {top: 60%;left: 50%;font-size: 2.7rem;transform: translate(-50%, -50%);}
.wrap-1-star .bottom-right .star.bottom {left: 15%;bottom: 10%;font-size: 1.5rem;}

