/* Font 설정 */
@font-face {  font-family: aGodic16;  src: url(../fonts/aGodic16.otf);  }
@font-face {  font-family: Andellia Davilton;  src: url("../fonts/Andellia Davilton.otf");  }
@font-face {  font-family: SCDream5;  src: url(../fonts/SCDream5.otf);  }
@font-face {  font-family: SCDream6;  src: url(../fonts/SCDream6.otf);  }
@font-face {  font-family: NanumSquareEb;  src: url(../fonts/NanumSquareEb.ttf);  }

/* default */
* {padding : 0;margin  :0;}
html , body {font-size: 14px;width : 100%;height : 100%;}


/* 전체 div */
.wrap {position: relative;height: 100%;}

/* main wrap 1 div */
.wrap-1 {position: relative;height: 100%;overflow: hidden;background-color:  #b4b4b4;}

/* main wrap 신랑 신부 image */
.wrap-1 img {position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);width: 250%;}

/* top Titles */
/*rgba(150, 80, 200, 1);*/
.wrap-1 .wrap-1-title {font-family: SCDream6;position: absolute;top: 2rem;left: 50%;transform: translateX(-50%);text-align: center;font-size: .857rem;color:  ghostwhite;}

/* Groom and Brid */
.wrap-1 .wrap-1-intro {position: absolute;padding: 0 3rem;display: grid;left: 0;grid-template-columns: repeat(3, 1fr);right: 0;top: 15%;}
.wrap-1 .wrap-1-intro .grid-column-wrap {align-self: center;text-align: center;}
.wrap-1 .wrap-1-intro .grid-column-wrap .intro-title {font-family: NanumSquareEb;color: #ffffff;}
.wrap-1 .wrap-1-intro .grid-column-wrap .intro-name {font-family: aGodic16;color: #ffffff;font-size: 1.5rem;}
.wrap-1 .wrap-1-intro .grid-column-wrap .and {font-family: "Andellia Davilton";font-size: 5rem;color:  rgba(150, 80, 200, 0.6);}

/* main wrap 테두리 star  */
/*rgba(150, 80, 200, 1);*/
.star {position: absolute;color:  ghostwhite;font-family: SCDream5;}
.wrap-1 .wrap-1-star {position: absolute;top:0;bottom: 0;left: 0;right: 0;background-color: transparent;}
.wrap-1-star .top-left {position: absolute;width: 100px;height: 100px; z-index: 1;}
.wrap-1-star .top-left .star.top {right: 15%;top: 15%;font-size: 1.5rem;}
.wrap-1-star .top-left .star.middle {top: 40%;left: 50%;font-size: 2.7rem;transform: translate(-50%, -50%);}
.wrap-1-star .top-left .star.bottom {left: 24%;bottom: 20%;font-size: 1.5rem;}
.wrap-1-star .top-right {position: absolute;width: 100px;height: 100px; right: 0; z-index: 1;}
.wrap-1-star .top-right .star.top {left: 15%;top: 15%;font-size: 1.5rem;}
.wrap-1-star .top-right .star.middle {top: 40%;left: 50%;font-size: 2.7rem;transform: translate(-50%, -50%);}
.wrap-1-star .top-right .star.bottom {right: 24%;bottom: 20%;font-size: 1.5rem;}
.wrap-1-star .bottom-left {position: absolute;width: 100px;height: 100px; bottom: 0; left: 0; z-index: 1;}
.wrap-1-star .bottom-left .star.top {left: 25%;top: 20%;font-size: 1.5rem;}
.wrap-1-star .bottom-left .star.middle {top: 60%;left: 50%;font-size: 2.7rem;transform: translate(-50%, -50%);}
.wrap-1-star .bottom-left .star.bottom {right: 15%;bottom: 10%;font-size: 1.5rem;}
.wrap-1-star .bottom-right {position: absolute;width: 100px;height: 100px; bottom: 0; right: 0; z-index: 1;}
.wrap-1-star .bottom-right .star.top {right: 25%;top: 20%;font-size: 1.5rem;}
.wrap-1-star .bottom-right .star.middle {top: 60%;left: 50%;font-size: 2.7rem;transform: translate(-50%, -50%);}
.wrap-1-star .bottom-right .star.bottom {left: 15%;bottom: 10%;font-size: 1.5rem;}

.wrap-2 {position: relative;height: 100%; }
.wrap-2 .wrap-2-intro {display: grid; grid-template-rows: .4fr .6fr; height: 100%;}
.wrap-2 .wrap-2-intro img {width: 100%;}

.wrap-2 .wrap-2-intro .wrap-2-msg-sep {padding: 1.5rem 0; text-align: center; font-size: 1.5rem;}
.wrap-2 .wrap-2-intro .wrap-2-msg-title { font-size: 1.5rem; text-align: center; padding : 0 0 2rem 0; color: #dfdfdf}
.wrap-2 .wrap-2-intro .wrap-2-msg p{text-align: center; padding: .1rem 0; font-size: .9rem; color: #b4b4b4; font-family: NanumSquareEb;}
.wrap-2 .wrap-2-intro .wrap-2-msg p:last-child{ font-size: .5rem; padding:1rem 0;}
.wrap-2 .wrap-2-intro .wrap-2-groom-bride {display: grid; grid-template-columns: 1fr 1fr; position: absolute; width: 100%;}
.wrap-2 .wrap-2-intro .wrap-2-groom-bride div {text-align: center; padding: 1rem 0;}


.wrap-3 {position: relative;height: 100%; overflow: hidden;}
.wrap-3 > div{ display: grid;grid-template-rows: .2fr .8fr; height: 100%;}
.wrap-3 .wrap-3-title{position: relative; text-align: center; padding: 1rem 0;}
.wrap-3 .wrap-3-title div {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)}
.wrap-3 .wrap-3-title div .wrap-3-title-star{ font-size: 1.5rem;}
.wrap-3 .wrap-3-title div .wrap-3-title-gallery { font-size: 1.5rem;}
.wrap-3 .wrap-3-images { position: relative;}


.wrap-3 .wrap-3-images .wrap-3-image-wrap {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 150px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

@media all and (max-width: 330px) {
    .wrap-3 .wrap-3-images .wrap-3-image-wrap {
        grid-template-columns: repeat(3, 80px);
    }
}

.wrap-3 .wrap-3-images .wrap-3-image-wrap > div {overflow: hidden;position: relative;}

img.normal {left: 50%;top: 50%;transform: translate(-50%, -50%);height: 100%;}
/*img.top{left: 50%;top: 50%;width: 50%;transform: translate(-50%, -50%);object-fit: contain;}*/
.wrap-3 .wrap-3-images .wrap-3-image-wrap > div > img {object-fit: cover;position: absolute;}

/* 이미지별 left 조절 */
img.normal-5 {left: 0;}
img.normal-4 {left:45%;}
img.normal-9 {left: 70%;}

.wrap-3 .wrap-3-preview {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
}

.wrap-3 .wrap-3-preview.hidden {
    display: none;
}


.wrap-3 .wrap-3-preview .preview-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    transform: rotate(45deg);
    color: #FFFFFF;
    font-size: 3rem;
}

.wrap-3 .wrap-3-preview .preview-arrow {
    font-size: 2rem;
    color: #ffffff;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 5;
}

.wrap-3 .wrap-3-preview .preview-arrow.prev {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.wrap-3 .wrap-3-preview .preview-arrow.prev:after {
    content: " ";
    position: absolute;
    border-top: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
    left: 15px;
    top: 50%;
    width: 15px;
    height: 15px;
    transform: rotate(-45deg) translateY(-50%);
}

.wrap-3 .wrap-3-preview .preview-arrow.next {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.wrap-3 .wrap-3-preview .preview-arrow.next::after {
    content :" ";
    position: absolute;
    border-top : 3px solid #FFFFFF;
    border-left : 3px solid #FFFFFF;
    right: 15px;
    top: 50%;
    width: 15px;
    height: 15px;
    transform: rotate(135deg)  translateY(-50%);
}

.wrap-3 .wrap-3-preview .preview-image{
    border-radius: 5px;
}

.wrap-3 .wrap-3-preview .preview-image.horizontal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    display: block;
}

.wrap-3 .wrap-3-preview .preview-image.vertical {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    display: block;
}

.wrap-4 {position: relative;height: 100%; overflow: hidden;}
.wrap-4 > div{ display: grid;grid-template-rows: .2fr .8fr; height: 100%;}
.wrap-4 .wrap-4-title{position: relative; text-align: center; padding: 1rem 0;}
.wrap-4 .wrap-4-title div {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)}
.wrap-4 .wrap-4-title div .wrap-4-title-star{ font-size: 1.5rem;}
.wrap-4 .wrap-4-title div .wrap-4-title-map { font-size: 1.5rem;}
.wrap-4 .wrap-4-map .kakao-map {
    width: 100%;
    height: 300px;
}